@font-face {
    font-family: "JetBrainsMono";
    src: url("assets/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrainsMonoSemiBold";
  src: url("assets/JetBrainsMono-SemiBold.ttf");
}

.cell {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25) !important; /* Ensure shadow applies */
  border-radius: 5px !important; /* Override rounded corners */
  border-color: #ffffff !important;
}

.cell .sourceCode {
  border-color: #6f6f6f !important; 
}

.sidebar {
  font-size: 1.4em !important; /* Adjust the value as needed */
}